<!-- Android -->
meta(name="theme-color" content="#48c774")
meta(name="color-scheme" content="light")
meta(name="mobile-web-app-capable" content="yes")
link(rel="stylesheet" href=host+"/front/"+role+".css")
link(rel="stylesheet" href=host+"/assets/all.min.css")