.flex-centered-items{
  display: flex;
  align-items: center;
}

#LoginForm-form-set, #RegisterForm-form-set{
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 .05em .15em .1em rgba(10,10,10,.15);
  color: #4a4a4a;
  display: block;
}

body .main-container .form-paper {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.form-paper {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-paper .checkbox {
  font-weight: 400;
}

.form-paper .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.form-paper .form-control:focus {
  z-index: 2;
}

.form-paper input[type=text] ,
.form-paper input[type=email] ,
.form-paper input[type=password] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


.box.user-inline-info{
  display: inline-block;
}


.centered-logo-128{
  margin-left: calc(50% - 64px);
  margin-right: calc(50% - 64px);
  top: 5rem;
  position:absolute !important;
}